useDynLib(multinet)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, loadModule)
importFrom(Rcpp, evalCpp)
importFrom(grDevices, rainbow)
importFrom(graphics, box, par, plot)
import(igraph)
import(methods)
S3method(as.igraph,Rcpp_RMLNetwork)
S3method(plot,Rcpp_RMLNetwork)
