useDynLib(multinet, .registration = TRUE)
export()
importFrom(Rcpp, loadModule)
importFrom(Rcpp, evalCpp)
importFrom(grDevices, rainbow, chull)
importFrom(graphics, arrows, points, segments, text, par, plot, xspline)
import(igraph)
import(methods)
S3method(as.igraph,Rcpp_RMLNetwork)
S3method(plot,Rcpp_RMLNetwork)
